<%- include("partials/header") %>

    <div class="container text-center">
        <div class="section row align-items-start text-left d-flex">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <h1 class="underline heading inverse-heading">Collaborate.</h1>
                        <div class="card card-inverse">
                            <p class="testimonial-text">Collaborate with us. You help us, we help you!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div>
                    <img src="https://i.imgur.com/CrSfodh.png" class="img-fluid img">
                </div>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-12">
                    <img src="https://i.imgur.com/e9vVGCw.png" class="img-fluid w-100">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="underline heading eading text-left">Why collaborate?</h1>
                    <div class="card text-left">
                        <p class="testimonial-text">Collaborations is how we grow to reach more people in our wonderful community. In return, we can advertise your content to our members, hopefully giving you recognition and a wider audience.</p>
                    </div>
                </div>
            </div>
        </div>   
        
        <div class="section row align-items-start text-center d-flex">
            <div class="col">
                <h1 class="btn btn-inverse"><a class="btn-inverse" style="border:none" href="https://forms.gle/9AubRkMpZkqxzkuf6">Collaborate now.</a></h1>
            </div>
        </div>
        
    </div>

    <%- include("partials/footer") %>