<%- include("partials/header") %>

<div class="container text-center">
    <div class="section row align-items-start">
        <div class="col align-self-center">
            <div class="row">
                <h1 style="text-align: left;">The <span class="highlighted-text">friendliest</span> cubing community.</h1>
            </div>
            <div class="row align-self-left">
                <div class="col">
                    <a href="#" class="btn btn-inverse">Become a member</a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-inverse">Collaborate</a>
                </div>
            </div>
        </div>  
        <div class="col">
            <img src="https://web.archive.org/web/20230125002237im_/https://i.imgur.com/muqwVaG.png" class="image-panda" alt="Panda">
        </div>
    </div>

    <div class="section row align-items-start text-left">
        <div class="col-12">
            <h1 class="underline">Testimonials.</h1> <!-- using the updated heading styles with underline -->
            <div class="card">
                <div class="testimonial-content">
                    <div class="stars">
                        ★★★★★
                    </div>
                    <p class="testimonial-text">
                        "Blah blah lorem ipsum dolor sit amet blah blah lorem ipsum dolor sit amet blah blah lorem ipsum dolor sit amet blah blah lorem ipsum dolor sit amet blah blah lorem ipsum dolor sit amet blah blah lorem ipsum dolor sit amet blah blah lorem ipsum dolor sit amet blah blah lorem ipsum dolor sit amet."
                    </p>
                    <div class="testimonial-author">
                        <img src="https://web.archive.org/web/20230125002237im_/https://i.imgur.com/muqwVaG.png" alt="Avatar" class="avatar">
                        <span>Lorem ipsum</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
</div>

<%- include("partials/footer") %>