<%- include("partials/header") %>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <div class="row">
                <h1 style="text-align: left;">The <span class="highlighted-text">friendliest</span> cubing community.</h1>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#" class="btn-inverse">Become a member</a>
                </div>
                <div class="col">
                    <a href="#" class="btn-inverse">Collaborate</a>
                </div>
            </div>
        </div>  
        <div class="col">
            <img src="https://web.archive.org/web/20230125002237im_/https://i.imgur.com/muqwVaG.png" class="image-panda" alt="Panda">
        </div>
    </div>
</div>

<%- include("partials/footer") %>